<div class="row">
  <div class="jumbotron col-xs-10 col-xs-offset-1 clearfix">
    <h1 class="text-center">Today's Set List</h1>
  </div>
</div>




<% @lyrics.each do |lyric| %>
  <div class="col-xs-10 col-xs-offset-1 booyah-box">
    <h1 class="text-center"><%= lyric.song_title %></h1>
    <p class="text-center"><%= lyric.song_lyric %></p><br/>
    <div class="text-center">
      <i><%= lyric.author %></i>
    </div>
  </div>
<% end %>

