<div class="row">
  <div class="jumbotron col-xs-10 col-xs-offset-1 clearfix">
    <h1 class="text-center">Today's Set List</h1>
  </div>
</div>


<div class="col-xs-10 col-xs-offset-4">
  <% @lyrics.each do |lyric| %>
    <h1><%= lyric.song_title %>
    <p><%= lyric.song_lyric %><br/>
    <i><%= lyric.author %>
  <% end %>
</div>
